.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('/images/firstScreenBg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .min-width {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1200px;
    height: 600px;

    & > div:nth-child(1) {
      color: #fff;
      font-weight: 600;
      font-size: 60px;
      font-style: normal;
      line-height: 84px;
      text-align: center;
    }

    & > div:nth-child(2) {
      margin-top: 30px;
      color: rgb(255 255 255 / 80%);
      font-weight: normal;
      font-size: 24px;
      font-style: normal;
      line-height: 40px;
    }

    & > div:nth-child(3) {
      margin-top: 100px;
    }

    .row {
      display: flex;
      justify-content: center;
    }

    .move-bottom {
      position: absolute;
      top: 74%;
      left: 50%;
      width: 65px;
      height: 65px;
      background-image: url('/images/moveBottom.png');
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .move-bottom:hover {
      background-image: url('/images/moveBottomHover.png');
    }
  }
}
