.dynamic-image {
  position: relative;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 660px;

    .min-width {
      position: relative;
      display: flex;
      justify-content: center;

      // width: 1200px;
      min-width: 1200px;

      .img {
        position: relative;
        z-index: 2;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .text {
        display: flex;

        // height: 100%;
        flex: 1;
        align-items: center;
        justify-content: center;

        .text-inner {
          color: #fff;
          font-weight: 600;
          font-size: 58px;
          font-family: 'PingFang SC';
          font-style: normal;
          line-height: 80px;
          text-align: center;

          .describe {
            margin-top: 40px;
            color: rgb(255 255 255 / 80%);
            font-size: 20px;
            line-height: 40px;
            text-align: center;
          }
        }

        .gradual-text {
          background: linear-gradient(
            116.96deg,
            #5efbdf 13.81%,
            #3c6be3 94.18%
          );
        }
      }
    }
  }
}
