.github-logo {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #09121a;

  .github-img {
    margin-top: -100px;
    cursor: pointer;

    .logo {
      height: 90px;
      width: 90px;
      position: relative;
      top: 310px;
      z-index: 1;
      display: block;
      margin: 0 auto;
      transform: scale(1);
      transition: transform 1s ease 0s;
    }

    .github-bg {
      height: 520px;
      width: 520px;
      display: block;
      margin: 0 auto;
      transform: scale(1);
      transition: transform 1s ease 0s;
    }

    .logo:hover {
      transform: scale(0.8);
    }

    .logo:hover + .github-bg {
      transform: scale(1.1);
    }

    .text {
      position: absolute;
      top: 74%;
      left: 50%;
      color: #fff;
      font-weight: normal;
      font-size: 36px;
      font-family: Roboto;
      font-style: normal;
      transform: translate(-50%, -50%);
    }
  }

  .move-top {
    position: absolute;
    top: 220px;
    right: 140px;
    width: 65px;
    height: 65px;
    background-image: url('/images/move-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    cursor: pointer;
    transition: transform 1s ease 0s;
  }

  .move-top:hover {
    background-image: url('/images/move-top-hover.png');
  }
}
